@media only screen and (max-width: 480px) {
    .glavni {display: flex;
            align-content: center;
            flex-direction: column;
        width: 400px;
        flex-wrap: nowrap;
        margin: auto;
        left: 0px;
        }
    .div1, .div2, .div3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 34%;
}        
.div2 {
        flex-direction: column-reverse;
}
.drugidiv1, .drugidiv2, .drugidiv3 {
        width: 100px;
        height: 100px;
}
.bla {
        height: 150px;
        text-align: center;
}
* {max-height: 1200px;}
.button {
        left: 38%;
}
}