body {
 margin: 0px;
 padding: 0px;
 font-family: sans-serif;
}

.header {
    z-index: 4;
    width: 100%;
    height: 65px;
    position: fixed;
    background-color: #48bb78;
    top: 0px;
    
}
.header .img {
    color: #fff;
}

.fa-bars {
    color: white;
    transition: 2s;
}

.fa-bars:hover {
    color: #10b981;
}

.logo {
    color: white;
    top: -14%;
    position: absolute;
    left: 20px;
}
.fa-bars {
    margin-top: 6px;
    margin-right: 7px;
}
.divheader1 {
    top: 50%;
    display: inline-block;
    padding-left: 41px;
    padding-right: 431px;
    padding-top: 6px;
}
.p1 {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
.h2 {
    font: 15;
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    align-items: center;
    padding-top: 12px;
}

.divheader2 {
    width: 136px;
    position: absolute;
    top: 16px;
    display: inline-block;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 20px;
    right: 25%;
    font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}
.svg {
     width: 17px;
     margin-right: 7px;
}

.header .viewcode {
    padding: 0 12px;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    font-weight: 600;
    align-items: center;
    color: #fff;
    height: 32px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 15spx;
    transition: .3s; 
}

.divheader3 {
    position: absolute;
    top: 17px;
    display: inline-block;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 20px;
    width: 191px;
    height: 31px;
    right: 178px;
background-color: white;

}

.paleta1    {
    border: 10px solid #6366f1;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color: #6366f1;
    margin-top: 5px;
    margin-left: 7px;
    font-weight: 100;
}     
.paleta2  {
    border: 10px solid #f59e0b;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#f59e0b ;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.paleta3  {
    border: 10px solid #ef4444;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#ef4444 ;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.paleta4  {
    border: 10px solid #8b5cf6;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#8b5cf6 ;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.paleta5  {
    border: 10px solid #ec4899;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#ec4899;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.paleta6  {
    border: 10px solid #3b82f6;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#3b82f6;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.paleta7  {
    border: 10px solid #10b981;
    border-radius: 100%;
    align-items: center;
    top: 30%;
    display: inline-block;
    background-color:#10b981;
    margin-top: 5px;
    margin-left: 1px;
    font-weight: 100;
}
.slika1 {
    width: 12px;
    top: 8px;
    position: absolute;
    right: 16px;
}
.divheader4 {
    position: absolute;
    width: 103px;
    height: 30px;
    right: 66px;
    display: flex;
    top: 22px;;
  
}

.span1 {
    width: 23px;
    color: white;
    margin-top: 3px;
    margin: 0px 2px;
    margin-right: 10px;
}

.span2 {
    color: #7fcfa0;
    width: 23px;
    margin-top: 3px;
    margin: 0px 2px;
    margin-right: 6px;
}

.divheader5 {
    width: 57px;
    height: 30px;
    position: absolute;
    display: flex;
    right: 11px;
    border: 1px solid #6bc892;
    background-color: #6bc892;
    border-radius: 132px;
}

.img2 {
    width: 19px;
    margin: 5px;
    height: 17px;
    margin-left: 6px;
}

.kraj {
    width: 20px;
    height: 20px;
    background-color: #48bb78;
    border-radius: 100%;
    border: 1px solid #48bb78;
    position: absolute;
    display: inline-block;
    right: 6px;
    top: 4px;
}
.prvidiv {

    display: flex;
    margin-top: 80px;
    margin-bottom: 9%;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "div1 div2 div3 div3"
    "div4 div4 div3 div3"
    "div4 div4 div5 div6";
    gap: 15px;
    margin: auto;
    margin-top: 10%;

}



.area-a {
   
    /* grid-column-start: 1;
    grid-row-start: 1; */
    grid-area: div1;
    background-color: aqua;
}
.area-b {
    /* grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1; */
    grid-area: div2;
    background-color: chocolate;

}
.area-c {
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1; */
    grid-area: div3;
    background-color: red;

}
.area-d {
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2; */
    grid-area: div4;
    background-color: black;


}
.area-e {
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2; */
    grid-area: div5;
    background-color: green;

}

.area-f {
    grid-area: div6;
    background-color: darkgoldenrod;
}

.slika {
    width: 100%;
    height: 100%;
}

